

<html>
      
<head>
  
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <script src="/scripts/event.js"></script>
      <link rel="stylesheet" type="text/css" href="/styles/event.css" />

      
   
      <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
        crossorigin="anonymous"
      />
      <script
        defer
        src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
        integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
        crossorigin="anonymous"
      ></script>
      <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
      <script
        defer
        src="https://use.fontawesome.com/releases/v5.15.4/js/solid.js"
        integrity="sha384-/BxOvRagtVDn9dJ+JGCtcofNXgQO/CCCVKdMfL115s3gOgQxWaX/tSq5V8dRgsbc"
        crossorigin="anonymous"
      ></script>
      <script
        defer
        src="https://use.fontawesome.com/releases/v5.15.4/js/fontawesome.js"
        integrity="sha384-dPBGbj4Uoy1OOpM4+aRGfAOc0W37JkROT+3uynUgTHZCHZNMHfGXsmmvYTffZjYO"
        crossorigin="anonymous"
      ></script>
      <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
        crossorigin="anonymous"
      />
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"
      ></script>



        
</head>



<body>

   
  
  
  
  
  <!-- Navbar -->
    <nav class="navbar lpnav navbar-expand-lg bg-dark navbar-dark mb-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><b>CareClub</b></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    <!-- navvvv for mobileeee -->
    <div class="mobnav">
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><b>CareClub</b></a>
           <form class="d-flex" role="search">
              <input
                class="form-control"
                type="search"
                placeholder="Search"
                aria-label="Search"
                
              />
              <button class="btn btn-outline-success" type="submit">
                Search
              </button>
            </form>
          </div>

        </div>
      </nav>
    </div>
    
    <!-- ---------------------------Navbar ends ----------------------->






<script>
  </script>

    <!-- Modal -->
<%if(msg.UserDetails){%>
    <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen-sm-down">
        <div class="modal-content bg-dark">
          <div class="modal-header" id="modal-header" >
            <h1 class="modal-title fs-5" id="staticBackdropLabel"><b>Just Few More Steps...</b></h1>
          </div>
          <div class="modal-body  mx-auto ">
            <form action="/details" method="post"> 
              
              <div class="input-group mb-3 mt-5">
                <span class="input-group-text mx-auto"><b>&nbsp;City Name</b> &nbsp; </span>
                <div class="form-floating">
                  <input type="text" class="form-control" placeholder="Please Enter The Name OF Cit" name="u_city" style="width:20em;" onclick="hide(this)" required oninvalid="this.setCustomValidity('Please Enter City Name')" oninput="this.setCustomValidity('')">
                  <label for="floatingInputGroup1">Please Enter The Name OF City</label>
                </div>
              </div>
              <div class="input-group mb-3 my-5">
                <span class="input-group-text"><b>&nbsp;&nbsp;Number &nbsp;&nbsp;</b></span>
                <div class="form-floating">
                  <input type="tel" class="form-control" placeholder="Username" name="u_phone"  onclick="hide(this)" maxlength="10" size="10" pattern="[0-9]{10}" required oninvalid="this.setCustomValidity('Please Enter 10 digit mobile Number')" oninput="this.setCustomValidity('')">
                  <label>Please Enter The Mobile Number</label>
                </div>
              </div>
              <div class="input-group mb-3 my-5">
                <span class="input-group-text"><b>&nbsp;&nbsp;Darpan Id&nbsp;&nbsp;</b></span>
                <div class="form-floating">
                  <input type="text" class="form-control" placeholder="Username" name="LIC_NO"  onclick="hide(this)">
                  <label>Please Enter The Darhpan ID</label>
                </div>
              </div>
              <i class="fa-solid fa-arrow-right fa-fade"></i>
              <button type="submit" class="btn btn-danger d-flex mx-auto my-5">Understood</button>
              
        </form>
        </div>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var userdetails_form_modal = new bootstrap.Modal(document.getElementById("staticBackdrop"));
        var userdetails_button = document.getElementById('staticBackdropLabel');
        var userdetails_Header = document.getElementById('modal-header');
        userdetails_Header.style.backgroundColor="#342042";
        userdetails_button.style.color ="white";
        userdetails_form_modal.show();
      });
    </script>
       <!-- details modal end here -->
    <%}%> 
    
    
    
    
    
    
    
    <!-- Conditionally include the modal structure -->
    <% if (msg.error || msg.success) { %>
    
    
      <!-- Modal structure -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog" id = "modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="modalTitle">Error</h1>
             
            </div>
            <div class="modal-body" id = "modal-body">
              <!-- Display the error message received from the server -->
              <span id="errorMessage"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeButton">Close</button>
            </div>
          </div>
        </div>
      </div>
    
      <!-- JavaScript to automatically open the modal when the page loads -->
      <script>
        // Function to open the modal
        function openModal(errorMessage, modalTitle) {
          var myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
    
          document.getElementById('errorMessage').textContent = errorMessage;
          document.getElementById('modalTitle').textContent = modalTitle;
          
          myModal.show();
        }
        // Automatically open the modal when the page loads if there's an error message
        var modalContent = document.querySelector('.modal-header');
        if ("<%= msg.error %>") {
      openModal("<%= msg.error %>", "Error");
      
      
      modalContent.style.backgroundColor = "FD5D2A";
      modalContent.style.color="white";
      
    }
           
        
          
          else if ("<%= msg.success %>"){
            openModal("<%= msg.success %>","hehehh");
            modalContent.style.backgroundColor = "14BB28";
      modalContent.style.color="white";
     
          }
          if ("<%= msg.success %>") {
            console.log("<%= msg.success %>");
            console.log("<%= msg.success %>");
      }
      if (window.location.pathname === '/details') {
      var closeButton = document.getElementById("closeButton");
    closeButton.addEventListener("click", function () {
      window.location.href = '/events'; // Redirect to /events
    });
}
else{
  var closeButton = document.getElementById("closeButton");
    closeButton.addEventListener("click", function () {
      window.location.href = '/events'; // Redirect to /events
    });
}
      </script>
    <% } %>
    



    <!-- main event page start here -->
<%if(!msg.UserDetails && !msg.success && !msg.error){%>
 <div class="container">

      <section class="content d-flex flex-column">
      
        <div class="row" style="position: sticky;">
          <!-- ---------------------------------Left Sidebar------------------- -->
          <div class="left bg-dark col-lg-3 col-md-3 col-sm-3 me-4"
          style="border-top-right-radius:20px;
                border-top-left-radius:20px;
                height: min-content;
                overflow-y: scroll; height:550px;"
            >
            <div class="row border text-white row1">
              <img
                class="profile-pic "
                src="/images/event/rmposter.png"
                style="padding: 0; max-width: 100%; max-height: 100%; object-fit: contain; margin: 0;"; height="150"
                
              />
              <div class="p-image" style="display: none">
                <form action="/create-event" method="post" enctype="multipart/form-data">
                <input
                  type="file"
                  class="file-upload"
                  accept="image/*"
                  name="e_image"
                  required
                />
              </div>
            </div>
         
            <div class="row container mx-auto text-white row2" style="display: inline;"><br>
            <!-- <label class="bg-dark text-light lbl1 form-control mx-auto">Event name & Keywords</label> -->
            <input type="text" name="e_name" placeholder="Event Name" class=" form-control mx-auto txt1">
            <input type="text" name="e_type" placeholder="keywords for event.e.g:blood donation camp" class="form-control mx-auto">
            <input type="text" name="e_hashtags" placeholder="Event Name" class=" form-control mx-auto txt1"><br>
            <!-- <label class="bg-dark text-light lbl1 mx-auto form-control">Description & location</label> -->
            <textarea name="e_desc" class="form-control mx-auto"></textarea>
            <input type="text" name="e_location" class="form-control mx-auto" placeholder="locationðŸ“">
            <input type="text" name="e_city" placeholder="City" class=" form-control mx-auto txt1"><br>
            <!-- <input type="text" placeholder="DateðŸ“…" class="form-control" onfocus="(this.type='date')"> -->
            <!-- <label class="bg-dark text-light lbl1 mx-auto form-control">Date & Time</label> -->
            <input type="number" name="e_time" id="timeInput" placeholder="Enter time" class="form-control mx-auto" max="12" min="0" required>
            <select id="ampmSelect" name="e_timezone" class="form-control mx-auto" style="text-align: center;">
               <option value="" disabled selected >Select AM or PM</option>
               <option value="AM">AM</option>
               <option value="PM">PM</option>
            </select>
            <input type="text" name="e_date" placeholder="DateðŸ“…" class="form-control mx-auto" onfocus="setupDateInput()">

            <script>
            function setupDateInput() {
              const input = event.target;
              input.type = 'date';
            
              // Set the minimum date to the current date
              const today = new Date();
              const minDate = today.toISOString().split('T')[0];
              input.min = minDate;
            
              // Set the maximum date to one year from the current date
              const maxDate = new Date(today);
              maxDate.setFullYear(maxDate.getFullYear() + 1);
              input.max = maxDate.toISOString().split('T')[0];
            }
            </script><br>
            
            <center><button type="submit" class="btn btn-light ">Create your Event</button></center>
         
                 <br>     
          </div>
          </form>
          </div>
        
          <!-------------------------- Left Sidebar ends------------------ -->

          <!-- ------------------------Center Content--------------------- -->
          <div class="cen col-lg-5 col-md-5 col-xs-5 col-sm-7 me-4 text-light">
            <div class="row row1">
    
              <% events.forEach(userdetail => {%> <!-- showing event  details -->
            <div class="card mb-2 bg-dark"><h5 class="card-title text-primary"><br><img src=<%= userdetail.e_org_image ==null ?"/images/event/7309681.jpg":userdetail.e_org_image%> style="height:40px;width:40px;object-fit: cover; border-radius:100% ;">&nbsp;<%= userdetail.e_org_name %></h5><hr> <!-- showing event organizer name and image -->
              <img src= <%= userdetail.e_image %> class="card-img-top" alt="..."> <!-- showing event image -->
              <div class="card-body text-primary">
                <!-- <h5 class="card-title">Card title</h5> -->
                
                
                
              
                <div class="text-container">
                  <h3>Event Name - <%= userdetail.e_name %></h3>    <!-- showing event Name -->
                 <div class="content hideContent"><b><%= userdetail.e_desc %></b>      <!-- showing description -->
                  </div>
                
                  <div class="show-more" id="abcdef">
                      <a href="#" class="linkshow">Show more</a>
                  </div>
              </div>
 
                <hr>
           <div class="row rowsocial">
              <div class="block col-4">
                <svg
                class="heart-icon"
                width="20"
                height="40"
                viewBox="0 0 106 97"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
              <path
                    class="fill-color-shape"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M73.0406 3.04949C65.7359 2.94379 58.3559 5.38824 53.2483 12.3801C48.1271 5.39042 40.631 3.04941 33.4677 3.04941C18.2587 3.04941 3.04622 15.7081 3.04622 33.4698C3.04622 51.0995 14.3683 66.123 26.1679 76.6801C32.0812 81.9708 38.1493 86.1719 43.0557 89.0533C45.5086 90.4938 47.6791 91.6092 49.402 92.3672C50.2628 92.7459 51.0206 93.0393 51.6517 93.2395C52.2639 93.4336 52.8188 93.5607 53.2487 93.5607C53.6786 93.5607 54.2336 93.4336 54.8458 93.2395C55.4769 93.0393 56.2347 92.7459 57.0955 92.3672C58.8183 91.6092 60.9889 90.4938 63.4418 89.0533C68.3481 86.1719 74.4162 81.9708 80.3295 76.6801C92.1292 66.1229 103.451 51.0995 103.451 33.4698C103.451 15.6993 88.2313 3.26928 73.0406 3.04949Z"
                  />
                  <path
                    d="M53.2483 12.3801L51.2316 13.8577C51.7029 14.5009 52.4527 14.8807 53.25 14.8801C54.0474 14.8796 54.7966 14.4987 55.267 13.8548L53.2483 12.3801ZM73.0406 3.04949L73.0767 0.549748L73.0406 3.04949ZM26.1679 76.6801L24.501 78.5433L24.501 78.5433L26.1679 76.6801ZM43.0557 89.0533L44.3217 86.8975L44.3217 86.8975L43.0557 89.0533ZM49.402 92.3672L50.4088 90.0789L50.4088 90.0789L49.402 92.3672ZM51.6517 93.2395L52.4075 90.8565L52.4074 90.8565L51.6517 93.2395ZM54.8458 93.2395L54.09 90.8565L54.09 90.8565L54.8458 93.2395ZM57.0955 92.3672L58.1023 94.6555L58.1023 94.6555L57.0955 92.3672ZM63.4418 89.0533L62.1757 86.8975L62.1757 86.8975L63.4418 89.0533ZM80.3295 76.6801L81.9965 78.5433L81.9965 78.5433L80.3295 76.6801ZM55.267 13.8548C59.7836 7.67202 66.2981 5.45219 73.0044 5.54923L73.0767 0.549748C65.1736 0.435397 56.9283 3.10445 51.2295 10.9054L55.267 13.8548ZM33.4677 5.54941C40.0922 5.54941 46.7154 7.69369 51.2316 13.8577L55.2649 10.9026C49.5387 3.08715 41.1697 0.549414 33.4677 0.549414V5.54941ZM5.54622 33.4698C5.54622 17.2225 19.5018 5.54941 33.4677 5.54941V0.549414C17.0157 0.549414 0.546219 14.1936 0.546219 33.4698H5.54622ZM27.8349 74.817C16.2174 64.4228 5.54622 50.0268 5.54622 33.4698H0.546219C0.546219 52.1722 12.5192 67.8231 24.501 78.5433L27.8349 74.817ZM44.3217 86.8975C39.5433 84.0912 33.6121 79.9859 27.8349 74.817L24.501 78.5433C30.5503 83.9556 36.7554 88.2525 41.7897 91.209L44.3217 86.8975ZM50.4088 90.0789C48.7945 89.3686 46.7116 88.3011 44.3217 86.8975L41.7897 91.209C44.3055 92.6865 46.5638 93.8497 48.3951 94.6555L50.4088 90.0789ZM52.4074 90.8565C51.8878 90.6917 51.2173 90.4346 50.4088 90.0789L48.3951 94.6555C49.3082 95.0572 50.1534 95.387 50.8959 95.6225L52.4074 90.8565ZM53.2487 91.0607C53.2633 91.0607 53.1984 91.0609 53.0284 91.0254C52.867 90.9918 52.6608 90.9368 52.4075 90.8565L50.8959 95.6225C51.5581 95.8325 52.417 96.0607 53.2487 96.0607V91.0607ZM54.09 90.8565C53.8367 90.9368 53.6305 90.9918 53.4691 91.0254C53.299 91.0609 53.2341 91.0607 53.2487 91.0607V96.0607C54.0805 96.0607 54.9393 95.8325 55.6016 95.6225L54.09 90.8565ZM56.0887 90.0789C55.2801 90.4346 54.6096 90.6917 54.09 90.8565L55.6016 95.6225C56.3441 95.387 57.1893 95.0572 58.1023 94.6555L56.0887 90.0789ZM62.1757 86.8975C59.7858 88.3011 57.703 89.3686 56.0887 90.0789L58.1023 94.6555C59.9337 93.8497 62.1919 92.6865 64.7078 91.209L62.1757 86.8975ZM78.6626 74.817C72.8853 79.9859 66.9542 84.0913 62.1757 86.8975L64.7078 91.209C69.742 88.2525 75.9471 83.9556 81.9965 78.5433L78.6626 74.817ZM100.951 33.4698C100.951 50.0268 90.2801 64.4228 78.6626 74.817L81.9965 78.5433C93.9783 67.8231 105.951 52.1722 105.951 33.4698H100.951ZM73.0044 5.54923C87.0131 5.75192 100.951 17.2432 100.951 33.4698H105.951C105.951 14.1555 89.4496 0.78665 73.0767 0.549748L73.0044 5.54923Z"
                    fill="#e74c3c"
                  />
                </svg>
                <span class="number-of-likes" style="color:#e74c3c;">6</span>
                
              </div>
                            <!-- --------------------upvote button-------------------- -->


                          
              
              
                            <!-- ------------------upvote button ending------------------- -->
                            
                            
                            <!-- ---------------------- comment testing---------------------------- -->
                            
                            <div class="comment col-4 my-2 "  onclick="showCommentModal(`<%= userdetail._id %>`,`<%= profile.u_name %>`)">
                              <i class="far fa-comment" style="font-size:20px;color:#e74c3c" ></i> <b style="color:#e74c3c" >Comment</b>
                            </div>

                            <div class="upvote-button col-4 my-1">
                              <span id="upvote" class="upvote"><a href="/join-event/<%= userdetail._id %>"> Join Event </a> </span>
                              <span id="vote-count" class="vote-count" style="color:#e74c3c">0</span>
                            </div>
                          </div>
              </div>


              <!-- -----------------------comment ending----------------------------- -->

          
          </div>
          <%});%>
  
<!-- ------------------------Center Content ends----------------- -->

       



<!-- ---------------Right Sidebar start here ------------------ -->
<!-- <br><hr><hr><hr> -->
        <div class="sp mt-5">

        </div> </div></div>
            <div class="mobile">
            
              <div class="navb text-white d-flex ">
                
                <div class="col-4 home"><center>HOME</center></div>
                <div class="col-4 post"><center>POST</center></div>
                <div class="col-4 profile"><center>Profile</center></div>
              </div>
          </div>
          
         

          
    
          
            
          
          <!-- <div class="right d-flex col-lg-3 col-md-3 bg-dark text-light"> -->

            
  <div class="team-boxed right bg-dark col-lg-3 col-md-3" style="height: min-content;">
      <!-- <div class="container"> -->
      
          <div class="row people">
             
       
              <div class="item ">
                  <div class="box ">
                    <img class="rounded-circle" src=<%= profile.Image_URL ==null ?"/images/event/7309681.jpg":profile.Image_URL%> height="150px" width="150px">
                      <h3 class="name text-light"><%= profile.u_name%></h3>
                  </div><br>
              </div>
              <hr style="color:white">
          </div>
          <div class="row mb-4 ms-2">
            <h5 class="name text-light">Events Created:</h5><br>
              <h5 class="name text-light">Events Joined:</h5>  
          </div>
      <!-- </div> -->
  </div>




          </div>

          
          
          <!-- Right Sidebar ends -->
        </div>
      </section>
    </div>
    <!-- container end -->
<!-- ---------------Right Sidebar end here ------------------ -->





<!-- --------------------code for comment modal start here------------------------ -->

<!-- Modal -->
<div class="modal fade" id="comment-Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Comments</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: white;"></button>
      </div>
      <div class="card bg-dark text-white">
      <div class="modal-body">
          

        
          <div class="row g-0" id="laptopcmnt">
            <div class="col-6">
              <img src="/images/event/7309681.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-6">
              <div class="card-body ">
                <div class="card bg-primary text-white " style="margin-top:-1em;">
                    <div class="card-body">
                      <div class="com2 crdbdy">
       


                       
                        <img src="/images/event/7309681.jpg" style="height:40px;width:40px;object-fit: cover; border-radius:100% ;">
                        <b>Abhay Bissa</b>
                        <p class="ms-1 my-1">
                          
                          <div class="content hideContent"><b>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut 
                            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et 
                            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no 
                            sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, 
                            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore 
                            et dolore magna aliquyam erat, sed diam voluptua.</b>
                        </div>
                        <div class="show-more" id="abcdef">
                            <a href="#" class="linkshow">Show more</a>
                        </div>



                        <hr>
                   
                        
                
                    

                      
                

                      </div>
                      
                    </div>
                    
                  </div>
                  <div class="postcmnt">
                    <form method="post" action="">
                    <br><input type="text" class="form-control bg-primary text-white" placeholder="Post your comment" id="input1"><hr>
                    <button type="submit" class="bg-primary text-white form-control" style="max-width: min-content;">POST</button>
                  </form>
                  </div>
                </div>
              
            </div>
          </div>






          <div class="mobcomment">
                
          <div class="row">
            <div class="col-sm-12">
              <img src="/images/event/66112.jpg" class="img-fluid rounded-start" alt="...">
            </div>
       
            <div class=" col-sm-12">
              <div class="card-body ">
                <div class="card bg-dark text-white " style="margin-top:-1em;">
                    <div class="card-body">
                      <div class="com2 crdbdy">


                        <hr>
                        <img src="/images/event/7309681.jpg" style="height:40px;width:40px;object-fit: cover; border-radius:100% ;">
                        <b>Abhay Bissa</b>
                        <p>Event ID: <span id="modalEventId"></span></p>
                          
                          <div class="content hideContent"><b>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut 
                            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et 
                            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no 
                            sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, 
                            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore 
                            et dolore magna aliquyam erat, sed diam voluptua.</b>
                        </div>
                        <div class="show-more" id="abcdef">
                            <a href="#" class="linkshow">Show more</a>
                        </div>


                        <hr>
                        
            </div>
          </div>
          </div>
</div>
</div>
</div>

</div>



<!-- mobile commnet -->

        </div>
      </div>
      <div class="modal-footer" id="laptopmodalfooter">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>





<script>
  // Function to show the modal
  function showCommentModal(eventId,userId) {
    document.getElementById("modalEventId").innerText = eventId;
    var commentModal = new bootstrap.Modal(document.getElementById("comment-Modal"));
    console.log(eventId)
    console.log(userId)
    commentModal.show();
  }
</script>
<!-- -----------------------comment ending----------------------------- -->
<!-- --------------------code for comment modal End  here------------------------ -->



<%}%>


  <!-- main event page end here -->
 
</body>
</html>
